annotated-types==0.5.0
autocommand==2.2.2
autopep8==1.4.4
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.7
cmake==3.27.0
cryptography==3.4.8
exceptiongroup==1.1.3
filelock==3.12.2
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-DebugToolbar==0.10.1
Flask-WTF==1.2.1
glob2==0.7
gunicorn==21.2.0
h11==0.14.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
inflect==7.0.0
itsdangerous==2.1.2
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.3
more-itertools==8.10.0
networkx==3.1
neuralart==1.1.1
oauthlib==3.2.0
ordereddict==1.1
outcome==1.2.0
packaging==23.2
portend==3.2.0
pycodestyle==2.5.0
pydantic==2.3.0
pydantic_core==2.6.3
PyJWT==2.3.0
pyparsing==2.4.7
pyscopg2==66.0.2
PySocks==1.7.1
requests==2.31.0
SecretStorage==3.3.1
selenium==4.12.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tempora==5.5.0
torch==2.0.1
trio==0.22.2
trio-websocket==0.10.4
triton==2.0.0
typing_extensions==4.7.1
urllib3==2.0.4
wadllib==1.3.6
Werkzeug==2.3.7
wsproto==1.2.0
WTForms==3.1.0
zc.lockfile==3.0.post1
zipp==1.0.0