{% extends "base.html" %}

{% block content %}
<h1>Create a New Leaderboard</h1>
<div>
    <form id="createLeaderboardForm" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% if field.id == 'number_of_games' %}
            <span id="number-of-games-value">{{ field.data }}</span>
            {% endif %}
            <!-- {% if field.id == 'friends_to_compare' %}
            <select name="{{ field.name }}" id="{{ field.id }}" multiple>
                {% for choice in field.choices %}
                <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                {% endfor %}
            </select>
            {% endif %} -->
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endfor %}
        <fieldset>
            <legend>Select Friends to Include</legend>
            {% for friend in choices %}
            <input type="checkbox" name="selected_friends" id="{{ friend.friend_puuid }}" value="{{ friend.friend_puuid }}">
            <label for="{{ friend.friend_puuid }}">{{ friend.friend_summoner_name }}</label>
            {% endfor %}
        </fieldset>
        <button type="submit">Create Leaderboard</button>
    </form>
</div>
<script src="/static/sign_up.js"></script>
{% endblock %}